127.0.0.1 localhost
::1   localhost ip6-localhost ip6-loopback
fe00::0   ip6-localnet
ff00::0   ip6-mcastprefix
ff02::1   ip6-allnodes
ff02::2   ip6-allrouters

127.0.1.1 {{ cluster_hostname }}

10.0.0.100 pi1 pi1.cluster.local 
10.0.0.101 pi2 pi2.cluster.local
10.0.0.102 pi3 pi3.cluster.local
10.0.0.103 pi4 pi4.cluster.local

